<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <!-- ini untuk mengisi Parents-->
    <menuitem id="pandumart_menu_root"  
              name="Pandu Mart" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="pandumart_barang_menu_categ" 
              name="Barang" 
              parent="pandumart_menu_root" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="pandumart_pegawai_menu_categ" 
              name="Pegawai" 
              parent="pandumart_menu_root" 
              sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="pandumart_transaksi_menu_categ" 
              name="Transaksi" 
              parent="pandumart_menu_root" 
              sequence="90"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="pandumart_wizzard_menu_categ" 
              name="Wizzard" 
              parent="pandumart_menu_root" 
              sequence="91"/>
</odoo>
